$text-primary: #45523E;
$text-secondary: #FFFFFF;
$bg-primary: #FCFBF6;
$bg-secondary: #F1F1EC;
$bg-element-primary: brown;
$bg-element-secondary: rgb(204, 65, 65);
$transition-speed: 600ms;
$White: #FFFFFF;
$Slate: #5C667E;
$Cloud: #BDC5D5;
$Graphite: #232940;
$Light-Grey: #F7F8F9;
$Green: #158463;
$Red: #C94515;