@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography';

.header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    @include tablet {
        margin-left: 5rem;
    }

    &__sidebar{
        & ul{
            list-style: none;
        }
    }
    &__title{
        color: brown;
        text-align: center;
        & a {
            text-decoration: none;
            color: inherit;
        }
    }
    &__profile{
        width: 4rem;
        height: 3rem;
    }
    &__account{
        & button{
            width: 4rem;
            height: 3rem;
            border: none;
            background-color: brown;
            border-radius: 10%;
            color: #fafad2;
            &:hover{
                background-color: rgb(197, 85, 85);
                cursor: pointer;
            }
        }
    }
}