@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography';

.header{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
    @include tablet {
        margin-left: 5rem;
    }

    &__sidebar{
        & ul{
            list-style: none;
        }
    }
    &__title{
        color: brown;
        text-align: center;
    }
    &__profile, &__cred{
        & button{
            width: 4rem;
            height: 3rem;
            border: none;
            background-color: brown;
            color: #fafad2;
            &:hover{
                background-color: rgb(197, 85, 85);
            }
        }
    }
}