@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography';

.team-list{
    display: flex;
    width: 650px;
    list-style: none;
    padding-left: 0;
    margin-bottom: 1rem;
    background-color: $bg-element-primary;
    border-radius: 8px;
    padding: 0.25rem;
    color: $White;
    & a{
        text-decoration: none;
        color: inherit;
        width: 196px;
    }
    & li{
        width: 64px;
    }
    & li:nth-child(2){
        width: 196px;
    }
}