@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography';

.league{
    background-color: $White;
    width: 90%;
    margin: auto;
    border-radius: 4px;
    box-shadow: 0px 2px 5px 0px #13182c1a;
    overflow: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 1rem;
    &__legend{
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        padding: 0;
        & li{
            padding: 0 1.59rem;
        }
    }
    &__button {
        display: block;
        width: 100%;
        padding: 10px;
        text-align: center;
        background-color: #d9d9d9;
        border: none;
        cursor: pointer;
        @include tablet {
          width: 10rem;
          font-size: 0.75rem;
          
        }
        &-container{
          display: flex;
        }

        &--add {
          background-color: #000000;
          border-radius: 8px;
          text-decoration: none;
          color: white;
          font-weight: bold;
          margin-right: 2rem;
          &:hover{
            background: #4d4d4d;
            color: $text-secondary;
            cursor: pointer;
          }
        }
      }
}